//////////// box //////////////

// task-body //

$taskBodyMargin: 20px auto;
$taskBodyMarginSmall: 5px 0 0 0;

$taskContentMargin: 5px;

// task-header //

$taskHeaderPadding: 5px 35px;
$taskHeaderPaddingSmall: 5px 20px;

// content-container //

$contentContainerPadding: 15px;
$contentContainerPaddingSmall: 10px;

// task-container //

$taskContainerMargin: 0;
$taskContainerPadding: 0;

// task-item //

$taskItemMargin: 0 0 5px 0;
$taskItemPadding: 0;

// task-item-title //

$taskItemTitleMargin: 0 0 0 5px;
$taskItemTitlePadding: 0px;

// search //

$searchFieldMargin: 0 0px;
$searchFieldPadding: 4px 10px;

// circle-button

$circleButtonMargin: 0;
$circleButtonPadding: 0;

// task-field //

$taskFieldPadding: 20px;
$taskFieldMarging: 5px;
$taskFieldPaddingSmall: 15px;

// text-height //

$textHeightMargin: 0;
$textHeightPadding: 0;

// task-field-title-container //

$taskFieldTitleContanerMargin: 0 ;
$taskFieldTitleContanerPadding: 0;

// task-field-title //

$taskFieldTitleMargin: 0;
$taskFieldTitlePadding: 0;

// description-container //

$descriptionContainerMargin: 15px 0;
$descriptionContainerPadding: 10px 10px;

// description //

$descriptionMargin: 0;
$descriptionPadding: 0;

// file-container //

$fileContainerMargin: 0;
$fileContainerPadding: 0;

// file-list //

$fileListMargin: 0 10px 0 0;
$fileListPadding: 8px 8px 5px 8px;

// file-imem //

$fileItemMargin: 0 0 3px 0px;
$fileItemPadding: 0;

$fileNameMargin: 0px 5px 0 0;

// checkbox-container //
$checkboxContainerMarginSmall: 10px 0 0 0;


// checkbox-description //
$checkboxDescriptionMargin: 0 0 0 10px;
$checkboxDescriptionPadding: 0px;
$checkboxDescriptionMarginSmall: 0 0 0 5px;

// deadline-container //
$deadlinContainerMarginSmall: 0 0 10px 0;

// button-container //

$buttonContainerMargin: 0px;
$buttonContainerPadding: 0px;

// item-button //

$itemButtonMargin: 0 0 0 8px;
$itemButtonPadding: 0px;