		/////////// backgrounds //////////////////// 

		$backgroundBody: rgb(239, 255, 249);
		$backgroungField: rgb(239, 255, 249);

		// search //

		$searchFieldBackground: rgba(248, 248, 248, 1);

		// create-button //

		$createButtonBackground: rgb(220, 238, 203);
		$createButtonHover: rgb(249, 252, 205);

		// checkbox

		$checkboxBackground: #eee;
		$checkboxBackgroundHover: #f7ca1577;
		$checkboxBackgroundChecked: #5df71571;

		// task-cover //

		$taskCoverBackground: rgba(0, 0, 0, .1);

		// itemButton //

		$itemButtonBackground: rgba(230, 230, 230, 1);
		$itemButtonBackgroundHover: rgb(210, 231, 161);

		

		$fileLoaderProgressBackground: rgba(158, 197, 185, 0.5);
		$fileLoaderCoverBackground: transparent;