// widths & height

$taskBody: 500px;
$taskBodySmall: 100%;
$taskMinWidth: 300px;


$taskFieldMaxWidht: 500px;

$descriptionMaxHeight: 244px;
$descriptionMaxHeightSmall: 220px;
$titleFieldMaxHeight: 88px;
$titleFieldMaxHeightSmall: 74px;

$fileListMaxHeight: 99px;

$createButtonSize: 26px;

$checkboxSize: 22px;
$checkboxSizeSmall: 18px;

$fileAddSize: 22px;
$fileAddSizeSmall: 20px;

$itemButtonWidth: 120px;
$itemButtonHeight: 40px;
$itemButtonWidthSmall: 100px;
$itemButtonHeightSmall: 35px;

$fileRemoveSize: 16px;