@import "./template.scss";

.file-container {

	&__file-list {
		list-style-type: none;
		max-height: $fileListMaxHeight;

		@extend %template-overflow;

		@include setBorder($fileListBorder, $fileListBorderRadius, $fileListBoxShadow );
		@include setBox($fileListMargin, $fileListPadding);
	}

	&__file-item {
		box-sizing: border-box;
		@include setBox($fileItemMargin, $fileItemPadding);
		@include setGrid($fileItemGridRow, $fileItemGridCol, $fileItemGridJustify, $fileItemGridAlign);
	}

	&__file-name {
		font: $fileNameFont;
		text-shadow: $fileNameTextShadow;
		color: $fileNameColor;
		margin: $fileNameMargin;
		word-break: break-all;
	}

	&__file-name:hover {
		cursor: pointer;
		color: $fileNameColorHover;
		text-decoration: $fileNameTextDecorHover;
	}

	&__file-add-position {
		align-self: center;
		justify-self: end;
	}
	
	&__file-add:hover {
		background: $createButtonHover;
	}

	&__file-add {
		height: $fileAddSize;
		width: $fileAddSize;
		font: $fileAddFont;
		background-color: $createButtonBackground;
		@extend %template-circle-button;

		@include setBorder($createButtonBorder, $createButtonBorderRadius, $createButtonBoxShadow);

		@media (max-width: 500px) {
			width: $fileAddSizeSmall;
			height: $fileAddSizeSmall;
			font: $fileAddFontSmall;
		}
	}

	&__file-add:active {
		top: 1px;
		left: 1px;
		box-shadow: $createButtonBoxShadow;
	}

	&__file-add-input {
		display: none;
	}

	&__file-loader {
		position: relative;
		
	}

	&__file-loader-cover {
		position: absolute;
		top: 0%;
		left: 0;
		z-index: 10;
		height: 100%;
		width: 100%;
		cursor: default;

		background: $fileLoaderCoverBackground;
	}

	&__file-loader-progress {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		height: 100%;
		width: 0%;
		background-color: $fileLoaderProgressBackground;
	}

	&__file-remove,
	&__file-loader-cancel {
		justify-self: end;
		align-self: center;
		height: $fileRemoveSize;
		width: $fileRemoveSize;
		font: $fileRemoveFont;
		background: $createButtonBackground;
	
		@extend %template-circle-button;	
		@include setBorder($createButtonBorder, $createButtonBorderRadius, $createButtonBoxShadow)
	}

	&__file-remove:hover,
	&__file-loader-cancel:hover {
		background: $createButtonHover;
	}

	&__file-remove:active,
	&__file-loader-cancel:active {
		top: 1px;
		left: 1px;
		box-shadow: 0 0 2px gray;
	}
}