@import "./template.scss";
@import "./varibels.scss";
@import "./mixins.scss";

body {
	padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.task-body {
	width:$taskBody;
	margin: 20px auto;
	user-select: none;

	@media (max-width: 500px) {
		width: $taskBodySmall;
		margin: 0;
	}

	&__task-header {
		
		@include setGrid($taskHeaderGridRow, $taskHeaderGridCol, $taskHeaderJustify, $taskHeaderAlign);
		
		@include setBox($taskHeaderMargin, $taskHeaderPadding);

		@include setBorder($taskHeaderBorder, $taskHeaderBorderRadius, $taskHeaderBoxShadow);

		background: $backgroundBody;
	}

	&__content-container{
		box-sizing: border-box;
		min-height: $contentContainerMinHeight;
		
		@include setBox($contentContainerMargin, $contentContainerPadding);
		
		@include setBorder($contentContainerBorder, $contentContainerBorderRadius, $contentContainerBoxShadow);
		
		background: $backgroundBody;
	}
	
	&__task-container {
		
		@include setBox($taskContainerMargin, $taskContainerPadding );
		
		min-height:$taskContainerMinHeight;
		
		list-style-type: none;
		background-color: transparent;
	}

	&__task-cover {
		position: fixed;
		padding: 0;
		left:0;
		top: 0;
		width: 100%;
		height: 100%;
		background: $taskCoverBackground;
		z-index: 10;

		@include setFlex($taskCoverFlexFlow, $taskCoverJustify, $taskCoverAlign)
	}

	&__task-field{
		box-sizing: border-box;
		padding: $taskFieldPadding;
		width: $taskFieldMaxWidht;
		
		@media (max-width: $taskFieldMaxWidht) {
			min-width: 300px;
			max-width: $taskFieldMaxWidht;
			margin: 5px;
		}
		
		@include setGrid($taskFieldGridRow, $taskFieldGridCol, $taskFieldJustify, $taskFieldAlign);
		
		@include setBorder($taskFieldBorder, $taskFieldBorderRadius, $taskFieldBoxShadow);

		grid-template-areas: "header header"
		"description description"
		"file file"
		"checkbox deadline"
		"buttonContainer buttonContainer"	;
		
		background: $backgroungField;
	}
}