@import "./template.scss";
@import "./mixins.scss";
@import "./varibels.scss";

.task-header {

	&__search-field {
		input {
			width: $searchFieldWidth;
			outline: none;
			background: $searchFieldBackground;
			font: $searchFielfFont;	

			@include setBox($searchFieldMargin, $searchFieldPadding);

			@include setBorder($searchFieldBorder, $searchFieldBorderRadius, $searchFieldBoxShadow);

		}
	}

	&__create-button {
		justify-self: start;
		
		@include setFlex($createButtonFlexFlow, $createButtonJustify, $createButtonAlign);		
	}
		
	&__item-button {
		@extend %template-circle-button;
		
		height: $createButtonHeight;
		width: $createButtonWidth;
		font: $createButtonFont;
	}

		&__item-button:hover {
			background: $createButtonHover;
		}

		&__item-button:active {
			top: 1px;
			left: 1px;
			box-shadow: $createButtonBoxShadowActive;
		}



}