@import "./template.scss";
@import "./varibels.scss";
@import "./mixins.scss";

.task-field {
		&__text-height {
				position: relative;
				padding: 0px 0;
				margin: 0px;
				height: 100%;
				@extend %template-wrap;
				@extend %template-overflow;
			}

	&__descriptio-container {
		grid-area: description;
		position: relative;
		
		margin:  0;
		padding: 10px 5px;

		max-height: 250px;
		overflow-y: auto;

		border-bottom: $descriptionContainerBorder;
		border-top: $descriptionContainerBorder;

		& .task-field__text-height {
			@extend %template-font_description;
		}

	}

	&__title-container {
		grid-area: header;
		position: relative;

		padding: 0;
		margin: 0;

		max-height: 90px;
		overflow-y: auto;

		padding: $taskFieldTitleContanerPadding;
		position: relative;

		& .task-field__text-height {
			text-align: center;
			@extend %template-title-font;
		}
	}
	
	&__checkbox-container {
		grid-area: checkbox;
		@include setFlex($checkboxContainerFlex, $checkboxContainerJustify, $checkboxContainerAlign)
	}


	&__deadline-container {
		height: 100%;
		grid-area: deadline;

		@include setFlex($deadlineContainerFlex, $deadlineContainerJustify, $deadlineContainerAlign);

	}

	&__file-container {
		
		grid-area: file;
		
		margin: $fileContainerMargin;
		
		display: grid;
		grid-template-columns: $fileContainerGridCol;		
		justify-content: $fileContainerGridJustify;
	}
	
	&__button-container {
		grid-area: buttonContainer;	
		
		@include setFlex(
			$buttonContainerFlex,
			$buttonContainerFlexJustify,
			$buttonContainerFlexAlign,
		);

		padding: 5px;
	}

}