@import "./template.scss";

.task-field {
		&__text-height {
			position: relative;
			@extend %template-wrap;			
			@include setBox($textHeightMargin, $textHeightPadding);
		}
		
		&__descriptio-container {
			grid-area: description;
			border-bottom: $descriptionContainerBorder;
			border-top: $descriptionContainerBorder;			
			max-height: $descriptionMaxHeight;
			
			@extend %template-overflow;
	
			@include setBox($descriptionContainerMargin, $descriptionContainerPadding);

		& * {
			@extend %template-font_description;

			@media (max-width: 500px) {
				font: $descriptionFontSmall;
			}
		}

		@media (max-width: 500px) {
			max-height: $descriptionMaxHeightSmall;
		}
	}

	&__title-container {
		grid-area: header;
		max-height: $titleFieldMaxHeight;
		@extend %template-overflow;

		@include setBox($taskFieldTitleContanerMargin, $taskFieldTitleContanerPadding);

		& * {
			text-align: center;
			@extend %template-title-font;

			@media (max-width: 500px) {
				font: $titleFontSmall;
			}
		}

		.title-container__title {
			&_deadmen {
				color: $titleDeadmenColor;
			}

			&_complite {
				color: $titleCompliteColor;
			}
			
			&_un-complite {
				color: $titleColor;
			}
		}

		@media (max-width: 500px) {
			max-height: $titleFieldMaxHeightSmall;
		}
	}
	
	&__checkbox-container {

		user-select: none;

		grid-area: checkbox;

		@include setFlex($flexFlowRow, $checkboxContainerJustify, $checkboxContainerAlign);

		@extend %template-font_description;

		@media (max-width: 500px) {
			font: $descriptionFontSmall;
			margin: $checkboxContainerMarginSmall;
		}
	}

	&__deadline-container {
		user-select: none;
		
		grid-area: deadline;
		text-align: end;

		& * {
			@extend %template-font_description;

			@media (max-width: 500px) {
				font: $descriptionFontSmall;
			}
		}

		@media (max-width: 500px) {
			padding: $deadlinContainerMarginSmall;
		}
	}

	&__file-container {	
		grid-area: file;
		
		@include setBox($fileContainerMargin, $fileContainerPadding);

		display: grid;
		grid-template-columns: $fileContainerGridCol ;
		justify-content: $fileContainerGridJustify;
	}
	
	&__button-container {
		grid-area: buttonContainer;	

		@include setBox($buttonContainerMargin, $buttonContainerPadding);
		
		@include setFlex(
			$flexFlowRow,
			$buttonContainerFlexJustify,
			$buttonContainerFlexAlign,
		);

		@media (max-width: 400px) {
			justify-content: center;
		}

	}

}