@import "./template.scss";

.task-item {
	
	&__checkbox {
		@extend %template-checkbox;

		& input {
			@extend %template-checkbox__input;
		}

		& input:checked~div {
			background-color: #5df71571;
		}

		& input:checked~div:after {
			opacity: 1;
		}

		&:hover input:checked~div {
			background-color: #f7ca1577;
		}

		& div {
			@extend %template-checkbox__checkmark;
		
			@media (max-width: 500px) {
				height: 18px;
				width: 18px;
			}
		}

		& div:after {
			@extend %template-checkbox__checkmark_active;
			
			@media (max-width: 500px) {
				left: 6px;
				top: 2px;
				width: 4px;
				height: 8px;
			}
		}

	}

	&__title {

		@extend %template-title;
		@extend %template-wrap;
		@extend %template-overflow;

		cursor: pointer;
	
		&_deadmen {
				color: rgb(183, 95, 95);
		}
		
		&_complite {
			color: rgb(0, 128, 0);
		}
		
		@media (max-width: 500px) {
			font: 20px bold Time serif;
		}
	}

	&__title:hover {
		color: rgb(210, 231, 161);
	}


	&__file-anchor{
		justify-self: center;
	}
}

