@import "./template.scss";
@import "./varibels.scss";
@import "./mixins.scss";

#task-body__task-tooltip {
	
	& .task-tooltip__tooltip {
		position: fixed;
		z-index: 10;
		// width: auto;
		word-break: break-all;
		max-width: 250px;
		border: 1px gray solid;
		border-radius: 10px;
		box-shadow: 1px 1px 3px gray;
		padding: 8px 14px;

		font: italic normal 14px/1 Time serif;
		background-color: #eeee;
	}

}


.task-body {
	width: $taskBody;
	margin: 20px auto;
	user-select: none;

	@media (max-width: 500px) {
		width: $taskBodySmall;
		margin: 0;
	}

	&__task-header {

		@include setGrid($taskHeaderGridRow, $taskHeaderGridCol, $taskHeaderJustify, $taskHeaderAlign);

		@include setBox($taskHeaderMargin, $taskHeaderPadding);

		@include setBorder($taskHeaderBorder, $taskHeaderBorderRadius, $taskHeaderBoxShadow);

		background: $backgroundBody;
	}

	&__content-container {
		box-sizing: border-box;
		min-height: $contentContainerMinHeight;

		@include setBox($contentContainerMargin, $contentContainerPadding);

		@include setBorder($contentContainerBorder, $contentContainerBorderRadius, $contentContainerBoxShadow);

		background: $backgroundBody;
	}

	&__task-container {

		@include setBox($taskContainerMargin, $taskContainerPadding );

		min-height: $taskContainerMinHeight;

		list-style-type: none;
		background-color: transparent;
	}

	&__task-cover {
		position: fixed;
		padding: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: $taskCoverBackground;
		z-index: 10;

		@include setFlex($taskCoverFlexFlow, $taskCoverJustify, $taskCoverAlign)
	}

	&__task-field {
		box-sizing: border-box;
		padding: $taskFieldPadding;
		width: $taskFieldMaxWidht;

		@media (max-width: $taskFieldMaxWidht) {
			min-width: 300px;
			max-width: $taskFieldMaxWidht;
			margin: 5px;
		}

		@include setGrid($taskFieldGridRow, $taskFieldGridCol, $taskFieldJustify, $taskFieldAlign);

		@include setBorder($taskFieldBorder, $taskFieldBorderRadius, $taskFieldBoxShadow);

		grid-template-areas: "header header"
		"description description"
		"file file"
		"checkbox deadline"
		"buttonContainer buttonContainer";

		background: $backgroungField;
	}
}