@import "./template.scss";
@import "./varibels.scss";

.task-item {
	
	&__checkbox {
		@extend %template-checkbox;

		& input {
			@extend %template-checkbox__input;
		}

		& input:checked~div {
			background-color: $checkboxBackgroundChecked;
		}

		& input:checked~div:after {
			opacity: 1;
		}

		&:hover input:checked~div {
			background-color: $checkboxBackgroundHover;
		}

		& div {
			@extend %template-checkbox__checkmark;
		
			@media (max-width: 500px) {
				height: $checkboxHeightSmall;
				width: $checkboxWidthSmall;
			}
		}

		& div:after {
			@extend %template-checkbox__checkmark_active;
			
			@media (max-width: 500px) {
				left: 6px;
				top: 2px;
				width: 4px;
				height: 8px;
			}
		}

	}

	&__title {

		@extend %template-title;
		@extend %template-wrap;
		@extend %template-overflow;

		cursor: pointer;
	
		&_deadmen {
				color: $titleDeadmenColor;
		}
		
		&_complite {
			color: $titleCompliteColor;
		}
		
		@media (max-width: 500px) {
			font: $templateTitleFontSmall;
		}
	}

	&__title:hover {
		color: $titleHoverColor;
	}


	&__file-anchor{
		justify-self: center;
	}
}

