@import "./mixins.scss";
@import "./var/var-font.scss";
@import "./var/var-background.scss";
@import "./var/var-border.scss";
@import "./var/var-box.scss";
@import "./var/var-Grid-Flex.scss";
@import "./var/var-size.scss";

%template-wrap {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

%template-overflow {
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}

%template-loader-font {
	font: $titleFontSmall;
	text-shadow: $textShadowContr;
	color: $titleCompliteColor;
}

%template-title-font {
	font: $titleFont;
	text-shadow: $textShadowContr;
}

%template-description {
	@include setBox( $descriptionMargin, $descriptionPadding);

	max-height:$descriptionMaxHeight;
}

%template-font_description {
	font: $descriptionFont;
	text-shadow: $textShadowMain;
}


%template-checkbox {	
	@include setFlex($flexFlowRow, center, center);
	
	cursor: default;
	user-select: none;
}

%template-checkbox__input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

%template-checkbox__checkmark {
	position: relative;
	width: $checkboxSize;
	height: $checkboxSize;
	background-color: $checkboxBackground;

	@include setBorder($templateCheckboxCheckmarkBorder, $templateCheckboxCheckmarkBorderRadius, $templateCheckboxCheckmarkBoxShadow)
}

%template-checkbox__checkmark_active {
	content: "";
	position: absolute;
	left: 8px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid #333;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	opacity: 0;
}

%template-circle-button {
	user-select: none;
	position: relative;
	cursor: default;
	margin: $circleButtonMargin;
	padding: $circleButtonPadding;
	
	@include setFlex($flexFlowRow, center, center);
}