@import "./varibels.scss";
@import "./mixins.scss";


%template-wrap {
	hyphens: auto;
	// white-space: pre-line;
	white-space: pre-wrap;
	// white-space: break-spaces;
	// word-break: break-all;
}

%template-overflow {
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}

%template-title {
	margin: 0;
	padding: 5px;
	max-height: 90px;

	font: $templateTitleFontBig;
	color: $templateTitleColor;
	text-shadow: $templateTitleTextShadow;
}

%template-title_small {
	font: $templateTitleFontSmall;
}

%template-checkbox {	
	@include setFlex($templateCheckBoxFlexFlow, $templateCheckBoxJustify, $templateCheckBoxAlign);
	
	cursor: default;
	user-select: none;
}

%template-checkbox__input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

%template-checkbox__checkmark {
	position: relative;
	width: $checkboxWidth;
	height: $checkboxHeight;
	background-color: $checkboxBackground;

	@include setBorder($templateCheckboxCheckmarkBorder, $templateCheckboxCheckmarkBorderRadius, $templateCheckboxCheckmarkBoxShadow)
}


%template-checkbox__checkmark_active {
	content: "";
	position: absolute;
	left: 8px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid #333;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	opacity: 0;
}

%template-checkbox__description {
	padding: 0 0 0 10px;
	flex-basis: 200px;

}

%template-description {
	@include setBox( $descriptionMargin, $descriptionPadding);

	max-height:$descriptionMaxHeight;
}

%template-font_description {
	font: $templateDescriptionFont;
	text-shadow: $templateDescriptionTextShadow;
}

%template-circle-button {	
	@include setFlex($templateCircleButtonFlexFlow, $templateCircleButtonJustify, $templateCircleButtonAlign);
	
	@include setBorder($templateCircleButtonBorder, $templateCircleButtonBorderRadius, $templateCircleButtonBoxShadow);

	padding: 0;

	position: relative;
	outline: none;
	text-align: center;
	cursor: default;
	background: $circleButtonBackground;
}