@import "./template.scss";

.title-container {
	&__title {
		box-sizing: border-box;
		outline: none;
		border: none;
		resize: none;

		position: absolute;
		top: 0;
		left: 0%;
	
		width: 100%;
		height: 100%;

		background-color: $backgroungField;
	
		@include setBox($taskFieldTitleMargin, $taskFieldTitlePadding	);
	}
} 