// fonts
	$templateTitleFontBig: bold 24px/1.2 Time serif;
	$templateTitleFontSmall: 20px/1.2 bold Time serif;

	$templateDescriptionFont: normal 18px/1.2 Time serif;
	$templateDescriptionFontSmall: normal 16px/1.2 Time serif;

	$searchFielfFont: bold 16px/1 Time serif;
	
	$templateTitleTextShadow: 1px 1px 1px black;
	$templateDescriptionTextShadow: 1px 1px 1px gray;

	$templateTitleColor: gray;
	
	$titleHoverColor: rgb(210, 231, 161);
	$titleCompliteColor: rgb(0, 128, 0);
	$titleDeadmenColor: rgb(183, 95, 95);
	
	$createButtonFont: bold 25px/1 Time serif;

	$fileAddFont: bold 22px/1 Time serif;
	$fileAddFontSmall: bold 18px/1 Time serif;

	$fileNameFont: 14px Time serif;
	$fileNameTextShadow: 1px 1px 1px gray;

	$fileRemoveFont: bold 8px Time serif;

	$itemButtonFont: bold 16px/1 Tie serif;
	$itemButtonFontSmall: bold 14px/1 Tie serif;

	$itemButtonBackgroundHover: rgb(210, 231, 161);


// backgrounds 

	$backgroundBody: rgba(240, 240, 240, 1);
	$backgroungField: rgba(240, 240, 255, 1);
	$searchFieldBackground: gba(248, 248, 248, 1);

	$createButtonHover: rgb(210, 231, 161);

	$taskCoverBackground: rgba( 0, 0, 0, .1);

	$checkboxBackground: #eee;
	$checkboxBackgroundChecked: #5df71571;
	$checkboxBackgroundHover: #f7ca1577;

	$circleButtonBackground: rgba(230, 230, 230, 1);

	$fileAddBackgroundHover: rgb(210, 231, 161);

	$itemButtonBackground: rgba(230, 230, 230, 1);

	$fileLoaderProgressBackground: rgba(150, 150, 150, .5);
//Borders
	
	$taskHeaderBorder: none;
	$taskHeaderBorderRadius: 8px 8px 0 0;
	$taskHeaderBoxShadow: 0px 0px 4px gray;
	
	$contentContainerBorder: none;
	$contentContainerBorderRadius: 0 0 8px 8px;
	$contentContainerBoxShadow: 0px 0px 4px gray;
	
	$searchFieldBorder: none;
	$searchFieldBorderRadius: 5px;
	$searchFieldBoxShadow: 0px 0px 4px gray;

	$templateCheckboxCheckmarkBorder: 1px solid gray;
	$templateCheckboxCheckmarkBorderRadius: 11px;
	$templateCheckboxCheckmarkBoxShadow:1px 1px 1px gray;

	$templateCircleButtonBorder: 1px solid gray;
	$templateCircleButtonBorderRadius: 50%;
	$templateCircleButtonBoxShadow: 1px 1px 2px gray;

	$taskFieldBorder: 2px outset gray;
	$taskFieldBorderRadius: 8px;
	$taskFieldBoxShadow: 4px 4px 6px gray;

	$descriptionContainerBorder: 4px double gray;

	$createButtonBoxShadowActive: 0 0 2px gray;

	$taskItemBorderBottom: 1px dashed gray;
	$taskItemMargin: 0 0 5px 0;
	$taskItemPadding: 0 0 5px 0;

	$itemButtonBorder: auto;
	$itemButtonBorderRadius: 8px;
	$itemButtonBoxShadow: 2px 2px 2px black;

// Flex

	$templateCheckBoxFlexFlow: row nowrap;
	$templateCheckBoxJustify: center;
	$templateCheckBoxAlign: center;

	$templateCircleButtonFlexFlow: row nowrap;
	$templateCircleButtonJustify: center;
	$templateCircleButtonAlign: center;

	$createButtonFlexFlow: row nowrap;
	$createButtonJustify: center;
	$createButtonAlign: center;

	$taskCoverFlexFlow: row nowrap;
	$taskCoverJustify: center;
	$taskCoverAlign: center;

	$checkboxContainerFlex: row nowrap;
	$checkboxContainerJustify: auto;
	$checkboxContainerAlign: center;

	$deadlineContainerFlex: row nowrap;
	$deadlineContainerJustify: end;
	$deadlineContainerAlign: center;

	$buttonContainerFlex: row nowrap;
	$buttonContainerFlexJustify: end;
	$buttonContainerFlexAlign: auto;
//  grid
	
	$taskHeaderGridRow: 50px;
	$taskHeaderGridCol: 90% 10%;
	$taskHeaderJustify: center;
	$taskHeaderAlign: center;
	
	$taskItemGridRow: minmax(50px, auto);
	$taskItemGridCol: 10% 80% 10%;
	$taskItemGridJustify: auto;
	$taskItemGridAlign: center;
	
	$taskFieldGridRow: auto auto auto 60px 50px;
	$taskFieldGridCol: 35% 65%;
	$taskFieldJustify: auto;
	$taskFieldAlign: center;

	$fileContainerGridRow: auto;
	$fileContainerGridCol: 93% 7%;
	$fileContainerGridJustify: start;
	$fileContainerGridAlign: auto;

	$fileItemGridRow: auto;
	$fileItemGridCol: 95% 5%;
	$fileItemGridJustify: auto;
	$fileItemGridAlign: center;

	$fileLoaderGridRow: auto;
	$fileLoaderGridCol: 95% 5%;
	$fileLoaderGridjustify: auto;
	$fileLoaderGridAlign: auto;
// box

	$taskHeaderMargin: 5px;
	$taskHeaderPadding: 0;

	$searchFieldMargin: none;
	$searchFieldPadding: 5px 10px;
	
	$contentContainerMargin: 5px;
	$contentContainerPadding: 8px;
	
	$taskFieldTitleContanerPadding: 0 0 10px 0;

	$taskContainerMargin: 0;
	$taskContainerPadding: 0;

	$taskFieldPadding: 20px;

	$descriptionMargin: 0;
	$descriptionPadding: 5px;

	$checkboxDescriptionPadding: 0 0 0 5px;
	$deadlineDescriptionMargin: 0 10px 0 0;

	$fileContainerMargin: 10px 0 0 0;

	$fileListMargin: 0;
	$fileListPadding: 5px 5px;

	$fileListMarginSmall: 0 10px 0 0;

	$fileListBorder: 2px inset gray;

	$fileItemMargin: 2px 0;
	$fileItemPadding: 0;
	$fileItemMarginLastType: 0 0 3px 0;

	$fileNameMargin: 2px 10px 0 0;

// widths & height

	$taskBody: 500px;
	$taskBodySmall: 100%;

	$searchFieldWidth: 300px;
	$createButtonWidth: 26px;
	$createButtonHeight: 26px;

	$contentContainerMinHeight: 50px;

	$taskContainerMinHeight: 80px;

	$taskFieldMaxWidht: 500px;

	$checkboxWidth: 22px;
	$checkboxHeight: 22px;
	$checkboxWidthSmall: 18px;
	$checkboxHeightSmall: 18px;

	$descriptionMaxHeight: 250px;

	$fileAddWidth: 22px;
	$fileAddWidthSmall: 18px;

	$itemButtonWidth: 130px;
	$itemButtonHeight: 40px;

	$fileRemoveWidth: 14px;
// top & left position

